figure:nth-child(1){
    background-color: c.$Icon-fattigdom;
}
figure:nth-child(2){
   background-color: c.$Icon-hunger;
}
figure:nth-child(3){
background-color: c.$Icon-sundhed;
}
figure:nth-child(4){
background-color: c.$Icon-kvalitetsuddannelse;
}
figure:nth-child(5){
background-color: c.$Icon-ligestilling;
}
figure:nth-child(6){
background-color: c.$Icon-rent-vand;
}
figure:nth-child(7){
background-color: c.$Icon-energi;
}
figure:nth-child(8){
background-color: c.$Icon-job;
}
figure:nth-child(9){
background-color: c.$Icon-industri;
}
figure:nth-child(10){
background-color: c.$Icon-ulighed;
}
figure:nth-child(11){
background-color: c.$Icon-baredygtig;
}
figure:nth-child(12){
background-color: c.$Icon-produktion;
}
figure:nth-child(13){
background-color: c.$Icon-klimaindsats
}
figure:nth-child(14){
background-color: c.$Icon-havet;
}
figure:nth-child(15){
background-color: c.$Icon-land;
}
figure:nth-child(16){
background-color: c.$Icon-fred;
}
figure:nth-child(17){
background-color: c.$Icon-partnerskab;
}